<div>
  <!-- <ul>
    <li *ngFor="let data of listData">
      <div>Title: {{data.title}}</div>
      <div>User id: {{data.userId}}</div>
      <div>Status: {{data.completed}}</div>
    </li>
  </ul> -->

  <form class="form" (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
    <div>
      <input class="form-control" type="text" name="email" #txtEmail="ngModel" ngModel required>
      <span *ngIf="txtEmail?.touched && txtEmail?.errors?.required">Nhap email de ban</span>
    </div>
    <div>
      <input class="form-control" type="text" name="userName" ngModel>
    </div>
    <input name="" id="" class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
